  <!-- Navbar superior -->
  <nav>
    <div class="logo">
      <a href="{% url 'home' %}">300 SIMPLE WORDS</a>
    </div>

    <!-- Ícone de menu para mobile -->
    <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>

    <!-- Menu de navegação -->
    <div class="nav-links" id="menuBalloon">
      <ul class="element_left">
        <li><a href="{% url 'add_word_phrases' %}">Add Phrases</a></li>
        <li><a href="{% url 'home' %}">Phrases</a></li>
        <li><a href="#">Search</a></li>
      </ul>
      <ul class="element_right">
        <li><a href="#">Account</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>

  <script>
    function toggleMenu() {
      const menu = document.getElementById("menuBalloon");
      menu.classList.toggle("active");
    }

    document.addEventListener("click", function (event) {
      const menu = document.getElementById("menuBalloon");
      const toggle = document.querySelector(".menu-toggle");
      if (!menu.contains(event.target) && !toggle.contains(event.target)) {
        menu.classList.remove("active");
      }
    });
  </script>