{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Navbar superior -->
  <header class="navbar">
  <div class="logo">
    <a href="{% url 'home' %}">300 SIMPLE WORDS</a>
  </div>
  <div class="navegation">
    <ul class="element_left">
      <li>Phrases</li>
      <li><a href="{% url 'add_word_phrases' %}">Add Phrases</a></li>
      <li>Pesquisar</li>
    </ul>
    <ul class="element_right">
      <li>Account</li>
      <li>Logout</li>
    </ul>
  </div>
  </header>
{% endblock %}
