/* Navbar principal */
nav {
  display: flex;
  align-items: center;
  background-color: #0077cc;
  padding: 20px 40px;
  position: relative;
  z-index: 1000;
}

.logo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 60px; /* espaçamento entre logo e menu */
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.element_left,
.element_right {
  display: flex;
  list-style: none;
}

.element_left li,
.element_right li {
  margin: 0 20px;
}

.element_left a,
.element_right a {
  position: relative;
  color: white;
  font-size: 18px;
}

/* Linha invisível por padrão */
.element_left a::after,
.element_right a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* distância da linha abaixo do texto */
  width: 0%;
  height: 2px;
  background-color: #d32f2f;
  transition: width 0.3s ease;
}

/* Hover: linha cresce da esquerda para a direita */
.element_left a:hover::after,
.element_right a:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 1101;
}

/* Responsividade com menu lateral */
@media (max-width: 844px) {
  nav {
    justify-content: space-between;
  }
  .logo {
  font-size: 18px;
  font-weight: bold;
  }
  .nav-links {
    position: fixed;
    top: 77px;
    left: -220px;
    height: calc(100vh - 77px);
    width: 220px;
    background-color: #0077cc;
    flex-direction: column;
    align-items: flex-start;
    transition: left 0.3s ease;
    z-index: 999;
    padding-left: 40px;
  }

  .nav-links.active {
    left: 0; /* colado à esquerda */
  }

  .element_left,
  .element_right {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    list-style: none;
    margin: 50px 0 20px 0;
  }

  .element_left li,
  .element_right li {
    margin: 15px 0;
  }

  .element_left a,
  .element_right a {
    color: white;
    font-size: 18px;
  }

  .menu-toggle {
    display: block;
  }
}
