<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Estudo de Inglês
    {% endblock %}
  </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'navbar.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'base.css' %}"> -->
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static 'styles_add_phrases.css' %}">
</head>
<body>
  {% include 'partials/navbar.html' %}
  <!-- Conteúdo principal -->
  <main>
    {% block content %}

    {% endblock %}
  </main>
</body>
</html>