{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- conteudo principal -->
<div class="container">
  <!-- Área esquerda -->
  <section class="left-panel">
    <h1 class="word-title">PHRASES</h1>

    <!-- Frase 1 -->
    <div class="phrase-block">
      <p class="phrase-label">Phrase 1:</p>
      <div class="phrase">
        <input type="text" id="phrase1" name="phrase1" placeholder="Digite a frase para ouvir">
        <div class="bottons">
          <button class="play-button" id="playPauseBtn1" type="button" onclick="playAudio('phrase1', 'audioPlayer1')" title="Carregar áudio">&#9835;</button>
          <audio id="audioPlayer1" class="player" controls></audio>
          <!-- <button class="menu-toggle" title="Mostrar explicações">☰</button> -->
        </div>
      </div>
    </div>

    <!-- Frase 2 -->
    <div class="phrase-block">
      <p class="phrase-label">Phrase 2:</p>
      <div class="phrase">
        <input type="text" id="phrase2" name="phrase2" title="Digite a frase para ouvir" placeholder="Digite a frase para ouvir">
        <div class="bottons">
          <button class="play-button" id="playPauseBtn2"  type="button" onclick="playAudio('phrase2', 'audioPlayer2')" title="Carregar áudio">&#9835;</button>
          <audio id="audioPlayer2" class="player" controls></audio>
          <!-- <button class="menu-toggle" title="Mostrar explicações">☰</button> -->
        </div>
      </div>
    </div>
    <!-- Link para pagina de adicionar frases -->
      <div class="add_phrases">
      <a href="{% url 'add_word_phrases' %}">Adicionar Frases</a>
      </div>
  </section>

</div>

<script>
  async function playAudio(inputId, audioId) {
  const phrase = document.getElementById(inputId).value.trim();
  const audio = document.getElementById(audioId);

  if (!phrase) {
    alert("Digite uma frase antes de tocar o áudio.");
    return;
  }

  try {
    const response = await fetch(`/tts?phrase=${encodeURIComponent(phrase)}`);
    if (!response.ok) {
      throw new Error("Erro ao gerar áudio");
    }

    const blob = await response.blob();
    const url = URL.createObjectURL(blob);
    audio.src = url;
    audio.play();
  } catch (error) {
    console.error(error);
    alert("Não foi possível gerar o áudio.");
  }
}

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

{% endblock %}